table { border-collapse: collapse; font-size: 12px; }
th, td { padding: 4px; text-align: center; }

.circle {
  border: 2px solid red;
  border-radius: 50%;
}

.check-line {
  background:#eaffea;
  margin:4px;
  padding:4px;
  cursor:pointer;
}
