table { border-collapse: collapse; width: 100%; font-size: 12px; }
td,th { border:1px solid #ccc; padding:4px; text-align:center; }

.circle { border:2px solid red; border-radius:50%; }
.line { border-left:3px solid red; }

.check-line{
  background:#eaffea;
  margin:4px 0;
  padding:6px;
  cursor:pointer;
}
.check-line.active{ background:#c6ffc6; }

.editable{ background:#fff7cc; }
