table { border-collapse: collapse; width:100%; }
th,td { border:1px solid #ccc; padding:5px; text-align:center; }

.editable { background:#eef; }

.circle{
  border:3px solid red;
  border-radius:50%;
}

.line{
  border-left:3px solid red;
}

.check-line{
  background:#e6ffe6;
  margin:5px 0;
  padding:5px;
  cursor:pointer;
}
.check-line.active{
  background:#b2ffb2;
}
